@import "./colors.scss";

@font-face {
  font-family: "Open Sans";
  src: url("../assets/OpenSans-Regular.ttf");
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: $black;
  color: $white;
}

.spaced-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.title {
  color: $yellow;
}

.scoreboard {
  text-align: right;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0 1rem;
  gap: 1rem;
}

iframe, figure, h1, h2, body {
  margin: 0;
  border: 0;
}