@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/RobotoSlab-Regular.ttf");
}

:root {
  font-family: "Roboto Slab", serif;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
}

.overlay {
  position: relative;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

iframe, figure, body {
  margin: 0;
  border: 0;
}